.inputQuery p{
    background-color: rgb(53, 73, 73);
    display: inline-block;
    padding:0.5rem 0.6rem;
    border-radius: 0.5rem;

}
.aiResponse{
    background-color: #244949;
    border-radius: 0.5rem;
    width: 96%;
}

a{color: white}
a:hover{color: rgb(136, 200, 255);}

.inputQuery p{
    max-width: 85%;
    overflow-wrap: anywhere;
}

@media (max-width: 576px) {
    .aiResponse{
        width: 100%;
    }
    .inputQuery p{
        max-width: 92%;
    }
}