.new-way-app {
    display: flex;
    width: 100%;
    height: 100vh;
}

.chat-container {
    flex: 1;
    min-width: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bg-black{
    background-color: rgb(9 9 9) !important;
}
#emailHelp{color:white !important}

.errMsg{
    /* background-color: blue;
    margin: 0px;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.8rem;
    width: 45vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 0.5rem;
}
.errMsg p{margin: 0px;}